#steps
  = semantic_form_for @institution do |f|
    - f.inputs t('Institution'), :id => "institutions", :class => 'step' do
      = f.input :locality
      / = f.input :category
      = f.input :name
      = f.input :code, :as => :radio, :collection => MenuItem.institution_codes_limited
      - if params[:origin_id]
        = hidden_field_tag('origin_id', params[:origin_id])
      = f.buttons
      / = MenuItem.institution_codes.inspect