#steps
  - semantic_form_for @user do |f|
    -f.inputs "User", :id => "users", :class => 'step' do
      = f.input :first_name
      = f.input :last_name
      = f.input :category
      = f.input :code
      = f.input :email
      = f.input :language, :as => :radio, :collection => %w{en sk hu ro mk}
      = f.input :locality
      = f.buttons
