#steps

  - title "Users"

  %table
    %tr
      %th Name
      %th Category
      %th Code
      %th Localities
    - for user in @users
      %tr
        %td
          = user.full_name
          %small= "(#{user.boss.full_name})" unless user.boss.blank?
        %td= user.category
        %td= user.code
        %td
          - unless user.localities.blank?
            - user.localities.each do |l|
              = l.code
        %td= link_to t('Edit'), edit_user_path(user)
        %td= link_to t('Delete'), user, :confirm => t('Are you sure?'), :method => :delete

/ - if current_user.category == 'A'
/   .commit
/     %p= link_to "Add User", new_registration_path(resource_name)
