#steps
  - semantic_form_for @survey, :html => {:name => 'survey',:class => 'form', :id => 'edit_survey_1'} do |f|
    - f.inputs t("3 Children details"), :id => "children_details", :class => 'step' do
      - if @survey.number_of_children_below_seven < 1
        %h2= t('There is no child aged below 7 years.')
      - else
        = f.fields_for :children do |builder|
          = builder.input :family, :as => :select, :collection => FamilyProfile.all, :wrapper_html => {:class => 'spacer'}, :label_method => 'family_name', :input_html => { :disabled => 'disabled' }
          = builder.input :created_by, :as => :hidden, :wrapper_html => {:style => 'visibility:hidden;'}
          = builder.input :locality_id, :as => :hidden, :wrapper_html => {:style => 'visibility:hidden;'}
          = builder.input :childs_first_name, :input_html => { :size => 30, :class => "required"}, :wrapper_html => {:class => 'spacer'}
          = builder.input :childs_last_name, :input_html => { :size => 30, :class => "required"}
          = builder.input :date_of_birth, :start_year => 2002, :end_year => Time.now.year, :input_html => { :class => "required"}, :include_blank => false
          = builder.input :gender, :as => :radio, :collection => MenuItem.genders, :input_html => { :class => "required"}
          = builder.input :enrolled_to, :collection => Institution.find(:all, :order => "name", :conditions => ['id=51 or locality_id=?',@survey.locality_id])
          / , :input_html => { :class => "required"}
          %li
            = submit_tag t("Add New Institution"), :value => t("Add New Institution")
          = builder.input :family_id, :as => :hidden, :wrapper_html => {:style => 'visibility:hidden;'}
    = hidden_field_tag "step", "3"

    = render :partial => 'buttons'
