#steps
  - semantic_form_for @survey do |f|
    - f.inputs t("3 Children details"), :id => "children_details", :class => 'step' do
      - if @survey.number_of_children_below_seven.blank?
        %h2= t('There is no child aged below 7 years.')
      - else
        = f.fields_for :children do |builder|
          / .child
          / = builder.input :family, :as => :select, :collection => FamilyProfile.all, :wrapper_html => {:class => 'spacer'}, :label_method => 'family_name', :input_html => { :disabled => 'disabled' }
          = builder.input :childs_first_name, :wrapper_html => {:class => 'spacer'}
          = builder.input :childs_last_name
          = builder.input :date_of_birth, :start_year => 2002, :end_year => 2012
          = builder.input :gender, :as => :radio, :collection => MenuItem.genders
          = builder.input :enrolled_to, :collection => Institution.find(:all, :order => "name", :conditions => ['id=51 or locality_id=?',@survey.locality_id])
          %li
            = submit_tag t("Add New Institution"), :value => t("Add New Institution")
          = hidden_field_tag "step", "3"
          = builder.input :family_id, :as => :hidden
      = f.buttons
